# Command name can be anything
# not containing : or whitespaces.

j : jumpChar
y : curLoadChar
p : putChar
s : searchCharF
r : searchCharB
d : deleteChar
i : insert
o : printChar

q : quit
w : writeFile
c : changeFile

+ : addition
- : subtraction
× : multiplication
÷ : division

rep : repeatCmd

EOF : eof
cur : currentPos
