The `macroLoad`er ignores everything that
is not between brackets, so no need for
a separate comment syntax!

First we assign the exposed
functions to shorthands.

(jumpChar    → j)
(jumpChar    → j)
(curLoadChar → y)
(putChar     → p)
(searchCharF → s)
(searchCharB → r)
(deleteChar  → d)
(insert      → i)
(printChar   → o)

(quit       → q)
(writeFile  → w)
(changeFile → c)

(addition       → +)
(subtraction    → -)
(multiplication → ×)
(division       → ÷)

(eof        → EOF)
(repeatCmd  → rep)
(currentPos → cur)

Move one char forward and backward.
(cur 1 + j → 1f)
(cur 1 - j → 1b)

Move to the start of line, and handle
the special case of start of a file
(cur `\n` r [ - 1 + | cur - ] j → ^)
move to the end of a line
(cur `\n` s + 1 - j → $)

(cur 1 + j o → 1o)

Prints till the end of line
(o `\n` s `1o` rep cur 1 - j → pl)

Print the current line
(^ pl ^ → println)

Print line and move to the next line
(println $ 1f 1f → spl)

($ 1f 1f   → next-line)
(next-line → )
(^ 1b 1b ^ → prev-line)
(prev-line → )

(cur ` ` s + j → forward-word)
(forward-word  → )
(cur ` ` r - j → backward-word)
(backward-word → )

The arg to this is not really visible here.
Move to the beginning of the file, and
then just repeat next-line given times,
ie. 5 `goto-line` goes to the line 6.
This is quite inefficient though, the
larger the file and the deeper the
desired line is. On the more positive
note though, this'd be the thing to do
anyway when printing the line numbers,
though not really relevant here.
(0 j `next-line` rep → goto-line)


(` ` s `d` rep → forward-word-delete)
(forward-word-delete  → fwd)
(backward-word fwd    → backward-word-delete)
(backward-word-delete → bwd)

(^ `\n` s `d` rep → delete-line)

(y upperChar d i → char-upper)
(y lowerChar d i → char-lower)

